@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Lobster");

* {
  box-sizing: border-box;
  font-family: Montserrat;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  color: ghostwhite;
  background-image: url(images/logo.jpg);
  background-blend-mode: multiply;
  background-size: cover;
}
.main-header h1 {
  font-size: 100px;
  font-family: Lobster;
  font-weight: normal;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 10px;
  color: beige;
}

.main-header li {
  font-size: 50px;
  padding-left: 30px;
  padding-bottom: 20px;
  color: beige;
}

.main-header nav {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover,
.hvr-forward:focus,
.hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
